body{
    min-height: 100vh;
    background-image: url(../img/background.png); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}   
.content-element{
    margin-top: 25px;
    margin: 0 auto;
    text-align: center;
}
#header-left{
    text-align: left;
}
.info {
    font-weight: bold;
    color:white;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 10px 8px 8px black;
}
.bg-transparent{
    width: 100%;
    background-color: none;
    border-radius: 8px;
    box-shadow: 10px 8px 8px black;
}
.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
}
.navbar-nav a:hover {
    color: #2B7A78;
}
.icons-navbar{
    width: 30px;
    height: 30px;
}

#width-dropdown{
    min-width: 300px;     
}

.tittle{
    color:white;
    font-weight:bold;
    font-size: 50px;
    text-decoration: none;
    text-shadow: 10px 8px 8px black;
}
.full-screen{
    min-height: 290px;
    padding-top: 25px;
}
#carousel-main{
    display: block;
    margin: auto;
    border-radius: 8px;
    box-shadow: 10px 8px 8px black;
}
.last-five-height{
    min-height:785px;
}  
.description{
    padding: 15px 32px;
    background-color: #17252a;
    text-align: center;
    margin: auto;
    border-radius: 8px;
    box-shadow: 10px 8px 8px black;
}
#create-button{
    text-align: center;
    display: block;
    margin: auto;
    padding: 15px 32px;
    background-color: #2B7A78;
    border-radius: 8px;
    box-shadow: 10px 8px 8px black;
}
.light-blue{
    text-align: left;
    width:  100%;
    display: block;
    margin: auto;
    padding: 15px 32px;
    background-color: #2B7A78;
    border-radius: 8px;
    box-shadow: 10px 8px 8px black;
    word-wrap: break-word;
}
::placeholder { 
    color: #17252a;
    text-shadow: none;
}
.landing-text {
    font-weight: bold;
    color:white;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 10px 8px 8px black;
}
select {
    border: 1px solid #fff;
    background-color: transparent;
    border: none;
}
.dropdown-text{
    color: #17252a;
    text-shadow: none;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}
.submit-button{
    background-color: #17252a;
    border-radius: 8px;
    box-shadow: 10px 8px 8px black;
}
.all-height{
    min-height:375px;
}  
.blog-text {
    color:white;
    font-size: 25px;
    text-decoration: none;
    text-shadow: 10px 8px 8px black;
}
.author-date{
    text-align: right;
}
#img-box{
    max-width: 100%; 
    max-height: 100%;
    display: block;
    margin: auto;
    border-radius: 8px;
    box-shadow: 10px 8px 8px black;
}
.comments-height{
    min-height: 495px;
}  
.align-left{
    text-align: left;
}
.comment h4{
    display: inline
}
.wrapper input[type="text"] {
    position: relative; 
}
.light-blue-input{
    padding: 15px 32px;
    background-color: #2B7A78;
    position: relative;
    border-radius: 8px;
    box-shadow: 10px 8px 8px black;
    word-wrap: break-word;
    width: 82%;
}
.icon-padding{
    padding-right: 20px;
    margin:auto;
}

.profile-pic-back {
    display:block;
    margin: auto;
    word-wrap: break-word;
}

h6 {
    font-size: 18px
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.text-muted {
    color: #919aa3 !important
}
.f-w-600 {
    font-weight: 600
}

.ud-button{
    text-align: center;
    display: block;
    margin: auto;
    background-color: #2B7A78;
    border-radius: 8px;
    box-shadow: 10px 8px 8px black;
}

.padd-bottom {
    padding-bottom: 1;
}

#login-dropdown{
    width: 530px;
}

.margin-top-space{
    margin-top: 10px;
}
.in-line{
    display:inline;
}